.separator {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	hr {
		display: none;
	}
	@media (max-width: 768px) {
		&.fields-prod .rf-fields-container .rf-field-container {
			&:not(:has(.container__traffic-light)) .pui-input {
				padding: 0 28px 0 0;
				svg.pui-icon.pui-input__icon {
					right: 3rem;
				}
			}
			&:has(.hide) {
				display: none;
			}
		}
	}
}

.right:not(:has(.form-jview-container)) {
	width: 100%;

	.rf-fields-container {
		width: 100%;
		display: flex;
		align-items: center;

		justify-content: flex-end;
	}

	hr {
		display: none;
	}
}

.center {
	.rf-fields-container {
		width: 100%;
		display: flex;
		align-items: center;

		justify-content: center;
	}

	hr {
		display: none;
	}
}
